{% extends "body.html.twig" %}

{% block title %}
	{% set title = 'forgotten_password' %}
	{{ parent() }}
{% endblock %}

{% block body %}

<div class='ui basic segment'>
  <div class='ui form stacked segment odl-dmd'>
      {{ form_start(form) }}
      <div class='field'>
      {{ form_row(form.email) }}
      </div>
      {{ form_row(form.submit) }}
      {{ form_end(form) }}
  </div>
</div>

{% endblock %}
