{% trans_default_domain 'security' %}

{% extends 'body.html.twig' %}

{% block title %}
  {% set title = 'login' %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <form method="post" class="ui form login" action="{{ path('odl_security_login') }}">
    <div class="ui stacked segment odl-dmd">
      {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security')|raw }}</div>
      {% endif %}

      <div class="field">
        <div class='ui left icon input'>
          <i class='user icon'></i>
          <label for="inputUsername"></label>
          <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" placeholder='{{ 'login.username'|trans }}' required autofocus>
        </div>
      </div>
      <div class="field">
        <div class='ui left icon right labeled input'>
          <i class='lock icon'></i>
          <label for="inputPassword"></label>
          <input type="password" name="_password" id="inputPassword" class="form-control" placeholder='{{ 'login.password'|trans }}' required>
          <div class="ui basic label odl-inv">
            <i class='eye slash icon' onclick="revealPassword(this)"></i>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui toggle checkbox">
          <input type="checkbox" id="remember_me" name="_remember_me" class="hidden" checked/>
          <label for="remember_me">{{ 'login.remember_me'|trans }}</label>
        </div>
      </div>

      {% if app.request.get('_route') != app.request.headers.get('referer') %}
        <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}"/>
      {% endif %}
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      <button class="ui fluid large blue submit button btn btn-lg btn-primary" type="submit">
        {{ 'login.sign_in'|trans }}
      </button>
    </div>
    <div class='ui stacked segment odl-dmd'>
      <a href='{{ path('odl_security_forgotten_password') }}'>{{ 'login.forgotten_password'|trans }}</a>
    </div>
  </form>
{% endblock %}

{% block javascripts %}
  <script type="application/javascript" src='{{ asset('/assets/js/password.js') }}'></script>
{% endblock %}
