{% extends "body.html.twig" %}

{% block title %}
	{% set title = 'reset_password' %}
	{{ parent() }}
{% endblock %}

{% block body %}

<div class='ui basic segment'>
  {% if form is defined %}
  <div class='ui form stacked segment odl-dmd'>
      {{ form_start(form) }}
      <div class='field'>
        {% include 'partial/password_input.html.twig' with { formInput: form.plainNewPassword } %}
        {% include 'partial/password_input.html.twig' with { formInput: form.plainNewPasswordRetry } %}
      </div>
      {{ form_row(form.save) }}
      {{ form_end(form) }}
  </div>
  {% elseif message is defined %}
    {% include 'partial/message.html.twig' %}
  {% endif %}
</div>

{% endblock %}

{% block javascripts %}
<script type="application/javascript" src='{{ asset('/assets/js/password.js') }}'></script>
{% if redirection is defined %}
<script type="application/javascript">
setTimeout(function () {
   window.location.href = Routing.generate('{{ redirection }}');
}, 3000);
</script>
{% endif %}
{% endblock %}
