{% extends 'body.html.twig' %}

{% block title %}
    {% set title = 'register' %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class='ui basic segment odl-dmd'>
        {% include 'partial/back_button.html.twig' with {title: 'register'|trans({}, 'page_titles')} %}
        <div class='ui form stacked segment odl-dml'>
            {{ form_start(registrationForm) }}
            <div class='field'>
                {{ form_row(registrationForm.username) }}
            </div>
            <div class='field'>
                {{ form_row(registrationForm.email) }}
            </div>
            <div class='field'>
                {% include 'partial/password_input.html.twig' with { formInput: registrationForm.plainPassword } %}
            </div>
            <div class='field'>
                {{ form_row(registrationForm.captcha) }}
            </div>
            <button class="ui fluid large blue submit button btn btn-lg btn-primary" type="submit">
                {{ 'form.submit'|trans({}, 'general') }}
            </button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src='{{ asset('/assets/js/password.js') }}'></script>
{% endblock %}
