{% extends 'body.html.twig' %}

{% block title %}
	{% set title = 'create_user' %}
	{{ parent() }}
{% endblock %}

{% block body %}
<div class='ui basic segment odl-dmd'>
    {% include 'partial/back_button.html.twig' with {title: 'create_user'|trans({}, 'page_titles')} %}
    <div class='ui form stacked segment odl-dml'>
        {{ form_start(form) }}
        <div class='field'>
            {{ form_row(form.username) }}
        </div>
        <div class='field'>
            {{ form_row(form.email) }}
        </div>
        <button class="ui fluid large blue submit button btn btn-lg btn-primary" type="submit">
            {{ 'form.submit'|trans({}, 'general') }}
        </button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
