{% extends "body.html.twig" %}

{% block title %}
  {% set title = 'admin_home' %}
  {{ parent() }}
{% endblock %}

{% set cards = [
  {
    "trans": "profile",
    "role" : "ROLE_USER",
    "icon" : "user",
    "path" : "odl_user_profile"
  },
  {
    "trans": "reading_progress",
    "role" : "ROLE_USER",
    "icon" : "tasks",
    "path" : "odl_user_reading_progress"
  },
  {
    "trans": "add_arc",
    "role" : "ROLE_EDITOR",
    "icon" : "plus circle",
    "path" : "odl_admin_add_arc"
  },
  {
    "trans": "moderation_list",
    "role" : "ROLE_EDITOR",
    "icon" : "check",
    "path" : "odl_admin_arc_moderation_list"
  },
  {
    "trans": "sections_manager",
    "role" : "ROLE_ADMIN",
    "icon" : "globe",
    "path" : "odl_admin_manage_universe"
  },
  {
    "trans": "settings",
    "role" : "ROLE_SUPER_ADMIN",
    "icon" : "cogs",
    "path" : "odl_admin_settings"
  },
  {
    "trans": "users",
    "role" : "ROLE_SUPER_ADMIN",
    "icon" : "users",
    "path" : "odl_admin_users"
  },
  {
    "trans": "logs",
    "role" : "ROLE_EDITOR",
    "icon" : "newspaper",
    "path" : "odl_admin_journal"
  },
] %}

{% block body %}
  <div class='ui very padded grid'>
    <div class="ui raised very padded text container segment odl-dmd">
      {% include "partial/card.html.twig" with { trans_domain: 'admin_home' } %}
    </div>
  </div>
{% endblock %}
