{% trans_default_domain 'journal' %}

{% extends "body.html.twig" %}

{% block title %}
  {% set title = 'journal' %}
  {{ parent() }}
{% endblock %}

{% set transcoIsEvent =
  {
    '1' : 'desc.add_event'|trans,
    '-1' : 'desc.remove_event'|trans
  } %}

{% block body %}
  <div class="ui very padded grid segment odl-dmd">
    {% include 'partial/back_button.html.twig' with {title: 'title'|trans} %}
    <form id='garbage' class='ui right aligned container fluid' action='{{ path('odl_admin_journal_garbage') }}' method='POST'>
      <input type='hidden' name='_token' value='{{ csrf_token('journal-garbage') }}'>
      <div class="ui right pointing label">
        {{ 'garbage_label'|trans({'%max%': maxGarbage}) }}
      </div>
      <button class='ui button red basic odl-dml' type='submit'><i class="trash alternate outline icon"></i></button>
    </form>
    <table class="ui celled table odl-inv">
      <thead>
      <tr>
        <th>{{ 'date.head'|trans }}</th>
        <th>{{ 'author.head'|trans }}</th>
        <th>{{ 'status.head'|trans }}</th>
        <th>{{ 'reading_order.head'|trans }}</th>
        <th>{{ 'period.head'|trans }}</th>
        <th>{{ 'position.head'|trans }}</th>
        <th>{{ 'arc_title.head'|trans }}</th>
        <th>{{ 'desc.head'|trans }}</th>
      </tr>
      </thead>
      <tbody>
      {% for line in journal %}
        {% if line.status == constant('ODL\\Constant\\JournalStatus::CREATED') or line.status == constant('ODL\\Constant\\JournalStatus::PENDING') %}
          {% set status = 'status.created'|trans %}
          {% set color = "positive" %}
          {% set position = line.position %}
          {% set titre = line.title %}
        {% elseif line.status == constant('ODL\\Constant\\JournalStatus::UPDATED') %}
          {% set status = 'status.updated'|trans %}
          {% set color = "warning" %}
          {% set position = line.newPosition %}
          {% set titre = line.newTitle %}
        {% elseif line.status == constant('ODL\\Constant\\JournalStatus::REMOVED') %}
          {% set status = 'status.removed'|trans %}
          {% set color = "negative" %}
          {% set position = line.position %}
          {% set titre = line.title %}
        {% endif %}
        <tr class='{{ color }}'>
          <td data-label="date">
            {{ 'date.format'|trans({'%date%': line.createdAt|date('d/m/Y'), '%time%': line.createdAt|date('H:i:s')}) }}
          </td>
          <td data-label="author">
            {{ line.username }}
          </td>
          <td data-label="status">
            {{ status }}
          </td>
          <td data-label="readingOrder">
            {{ line.readingOrder }}
          </td>
          <td data-label="period">
            {{ line.period }}
          </td>
          <td data-label="position">
            {{ position }}
          </td>
          <td data-label="title">
            {{ titre|unescape }}
          </td>
          <td data-label="description">
            {% if line.status == constant('ODL\\Constant\\JournalStatus::PENDING') %}
              <ul>
                <li>{{ 'desc.pending'|trans|raw }}</li>
              </ul>
            {% elseif line.status == constant('ODL\\Constant\\JournalStatus::UPDATED') %}
              <ul>
                {% if (line.newTitle != '') and (line.newTitle != line.title) %}
                  <li>{{ 'desc.old_title'|trans({'%title%': line.title|unescape}) }}</li>
                {% endif %}
                {% if (line.newPosition != 0) and (line.newPosition != line.position) %}
                  <li>{{ 'desc.old_position'|trans({'%position%': line.position}) }}</li>
                {% endif %}
                {% if line.cover == 1 %}
                  <li>{{ 'desc.update_cover'|trans }}</li>
                {% endif %}
                {% if line.content == 1 %}
                  <li>{{ 'desc.update_desc'|trans }}</li>
                {% endif %}
                {% if line.linkA == 1 %}
                  <li>{{ 'desc.update_first_link'|trans }}</li>
                {% endif %}
                {% if line.linkB == 1 %}
                  <li>{{ 'desc.update_second_link'|trans }}</li>
                {% endif %}
                {% if transcoIsEvent[line.isEvent] is defined %}
                  <li>{{ transcoIsEvent[line.isEvent]|raw }}</li>
                {% endif %}
              </ul>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="ui centered row">
      <div class="ui pagination menu"
           data-page="{{ page }}"
           data-count="{{ count }}"
           data-max-elements="{{ constant('ODL\\Controller\\AdminController::JOURNAL_ELEMENTS_BY_PAGE') }}"
      ></div>
    </div>
  </div>
  {% include 'partial/button_back_to_top.html.twig' %}
{% endblock %}

{% block javascripts %}
  <script type='application/javascript' src="{{ asset('assets/js/journal.js') }}"></script>
{% endblock %}
