{% trans_default_domain 'manage_sections' %}

{% extends 'body.html.twig' %}

{% block title %}
  {% set title = 'manage_' ~ entityTypeClean %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class="ui segment main-container-form odl-dmd">
    {% set title = 'universe.title'|trans() %}
    {% if parentEntity is defined %}
      {% set title = parentEntity.universe is not defined ? parentEntity.name : parentEntity.universe.name ~ ' - ' ~ parentEntity.name %}
    {% endif %}
    {% include 'partial/back_button.html.twig' with {title} %}
    {{ form_start(form) }}
    <div class="ui form segment odl-dml">
      {{ form_row(form.collection, {'label': false}) }}
      <button id="add_entity" class="ui button">{{ 'form.add'|trans }}</button>
      {{ form_row(form.save, {'attr': {'class': 'ui green button'}}) }}
    </div>
    {{ form_end(form) }}
  </div>
  <div
          id='twig-to-js'
          data-entity-type-clean='{{ entityTypeClean }}'
          data-path-assets-banner='{{ asset('/assets/img/sections/', 'directory') }}'
          data-path-assets-logos='{{ asset('/assets/img/logos/', 'directory') }}'
          data-child-entity='{{ childEntityType ?? '' }}'
  ></div>
{% endblock %}

{% block javascripts %}
  <script type="application/javascript">
    ODL.security.token = {
      remove: "{{ csrf_token('remove-' ~ entityTypeClean) }}",
    };
    $('.ui.dropdown').dropdown();
  </script>
  <script type="module"
          src="{{ asset('assets/js/manage-sections.js') }}"></script>
{% endblock %}
