{% trans_default_domain 'user_profile' %}

{% extends 'body.html.twig' %}

{% block title %}
  {% set title = 'profile' %}
  {{ parent() }}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet"
        href="{{ asset('/assets/css/profile.css') }}">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/croppie/{{ cdn.croppie }}/croppie.min.css"/>
{% endblock %}

{% block body %}
  <div class="ui segment main-container-form odl-dmd">
    {% include 'partial/back_button.html.twig' with {title: 'title'|trans({'%username%': user.userIdentifier})} %}
    <div class="ui form segment odl-dml">
      {{ form_start(formUserData) }}
      {{ form_row(formUserData.username) }}
      {{ form_row(formUserData.email) }}
      {{ form_row(formUserData.locale, {attr: {class: 'ui fluid dropdown'}}) }}
      <div class="ui divider"></div>
      <p>{{ 'avatar'|trans }}</p>
      <div class="upload-avatar">
        <div class="container">
          {{ form_row(formUserData.avatar_upload, { label_attr: { class: 'ui basic button' }, attr: { class: 'upload-by-label' }}) }}
          {{ form_row(formUserData.avatar_base64) }}
          <input type="button"
                 class="ui basic button upload-result"
                 value="{{ 'preview'|trans }}"/>
          <input type="button"
                 class="ui basic green button upload-valid"
                 value="{{ 'form.submit'|trans({}, 'general') }}"/>
          {% if user.avatar %}
            <div class='user-avatar'>
              <i class="close icon"></i>
              <img src="{{ asset(path_images ~ '/avatars/' ~ user.avatar) }}"
                   alt="avatar"/>
            </div>
          {% endif %}
        </div>
        <div class="container">
          <div id="avatar-croppie"
               data-user-id='{{ user.id }}'></div>
        </div>
      </div>
      <div class="ui divider"></div>
      {{ form_row(formUserData.save) }}
      {{ form_end(formUserData) }}
    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
      <div class="ui form segment odl-dml">
        {{ form_start(formUserRoles) }}
        {{ form_row(formUserRoles.roles, {attr: {class: 'ui fluid dropdown'}}) }}
        {{ form_row(formUserRoles.editableEras, {attr: {class: 'ui fluid dropdown'}}) }}
        <div class="ui divider"></div>
        {{ form_row(formUserRoles.save) }}
        {{ form_end(formUserRoles) }}
      </div>
    {% endif %}
    <div class="ui segment odl-dml">
      {{ user.lastLogin ? 'last_login'|trans({date: user.lastLogin|date('Y-m-d H:i:s')}, 'users') : 'never_logged_in'|trans({}, 'users') }}
    </div>
    {% if not is_granted('ROLE_SUPER_ADMIN') or (is_granted('ROLE_SUPER_ADMIN') and app.user == user) %}
      <div class="ui form segment center aligned odl-dml">
        {{ form_start(formUserPassword) }}
        {% include 'partial/password_input.html.twig' with { formInput: formUserPassword.plainActualPassword } %}
        {% include 'partial/password_input.html.twig' with { formInput: formUserPassword.plainNewPassword } %}
        {% include 'partial/password_input.html.twig' with { formInput: formUserPassword.plainNewPasswordRetry } %}
        <div class="ui divider"></div>
        {{ form_row(formUserPassword.save) }}
        {{ form_end(formUserPassword) }}
      </div>
    {% endif %}
    {% if app.user == user %}
      <div class="ui red form segment odl-dml danger-zone">
        <h4 class="ui centered red header">
          <i class="exclamation triangle icon"></i>{{ 'danger_zone'|trans({}, 'general') }}
        </h4>
        <p>
          <span class="ui red text">{{ 'remove_account.description'|trans|raw }}</span>
        </p>
        <div class="ui divider"></div>
        {{ form_start(formDeleteAccount) }}
        {{ form_row(formDeleteAccount.password) }}
        <div class="ui divider"></div>
        <div class="ui toggle checkbox">
          {{ form_widget(formDeleteAccount.confirm, {attr: {class: 'hidden' }}) }}
          {{ form_label(formDeleteAccount.confirm) }}
        </div>
        <div class="ui divider"></div>
        {{ form_row(formDeleteAccount.save) }}
        {{ form_end(formDeleteAccount) }}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block javascripts %}
  <script type="application/javascript">
    ODL.security.token = {
      remove: "{{ csrf_token('remove-avatar') }}",
    };
    $('.ui.dropdown').dropdown();
  </script>
  <script type="application/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/croppie/{{ cdn.croppie }}/croppie.min.js"></script>
  <script type="module"
          src="{{ asset('/assets/js/croppie.js') }}"></script>
  <script type="application/javascript"
          src='{{ asset('/assets/js/password.js') }}'></script>
  {% if app.user == user %}
    <script type="application/javascript"
            src='{{ asset('/assets/js/profile.js') }}'></script>
  {% endif %}
{% endblock %}
