{% trans_default_domain 'settings' %}

{% extends 'body.html.twig' %}

{% block title %}
	{% set title = 'settings' %}
	{{ parent() }}
{% endblock %}

{% block body %}

<div class="ui segment main-container-form odl-dmd">
    {% include 'partial/back_button.html.twig' with {title: 'title'|trans} %}
    <div class="ui form segment odl-dml">
        <h4 class="ui horizontal divider header">
            <i class="heartbeat icon"></i>
            {{ 'maintenance.title'|trans }}
        </h4>
    {{ form_start(formMaintenance) }}
        <div class="ui toggle checkbox">
            {{ form_widget(formMaintenance.active, {attr: {class: 'hidden', tabindex: '0', checked: app_maintenance|bool }}) }}
            {{ form_label(formMaintenance.active) }}
        </div>
        <div class="ui divider"></div>
        {{ form_row(formMaintenance.ttl) }}
        <div class="ui divider"></div>
        {{ form_row(formMaintenance.save) }}
    {{ form_end(formMaintenance) }}
    </div>
    <div class="ui form segment odl-dml">
        <h4 class="ui horizontal divider header">
            <i class="image icon"></i>
            {{ 'banner.title'|trans }}
        </h4>
    {{ form_start(formBanner) }}
        {{ form_row(formBanner.website_banner) }}
        {% if settings.website_banner is defined %}
        <img class='ui centered aligned big image' src='{{ asset('assets/img/' ~ settings.website_banner) }}'>
        {% endif %}
        <div class="ui divider"></div>
        {{ form_row(formBanner.save) }}
    {{ form_end(formBanner) }}
    </div>
    <div class="ui form segment odl-dml">
        <h4 class="ui horizontal divider header">
            <i class="envelope icon"></i>
            {{ 'email.title'|trans }}
        </h4>
    {{ form_start(formEmail) }}
        {{ form_row(formEmail.admin_sender_email, {'value': settings.admin_sender_email ?? ''}) }}
        {{ form_row(formEmail.admin_sender_name, {'value': settings.admin_sender_name ?? ''}) }}
        <div class="ui divider"></div>
        {{ form_row(formEmail.save) }}
    {{ form_end(formEmail) }}
    </div>
    <div class="ui form segment odl-dml">
        <h4 class="ui horizontal divider header">
            <i class="copyright icon"></i>
            {{ 'copyright.title'|trans }}
        </h4>
    {% set copyright_developer = false %}
    {% if settings.copyright_developer is defined %}
    {% set copyright_developer = settings.copyright_developer|bool %}
    {% endif %}
    {{ form_start(formCopyright) }}
        {{ form_row(formCopyright.copyright_website, {'value': settings.copyright_website ?? ''}) }}
        <div class="ui divider"></div>
        <div class="ui toggle checkbox">
            {{ form_widget(formCopyright.copyright_developer, { attr: { class: 'hidden', tabindex: '0', checked: copyright_developer } }) }}
            {{ form_label(formCopyright.copyright_developer) }}
        </div>
        <div class="ui divider"></div>
        {{ form_row(formCopyright.save) }}
    {{ form_end(formCopyright) }}
    </div>
</div>

{% endblock %}
