<div id="update-inline" class="arc-line" style="display: none;">
  {{ form_start(form, {'attr': {'id': 'form_arc_update', class: 'ui form horizontal segments'}}) }}
  <div class='ui stacked segment odl-dml'>
    {{ form_row(form.position) }}
    <div class='update-cover-field'>
      {{ form_row(form.cover, { label_attr: { class: 'ui basic button arc_form_cover_label odl-dmd' }, attr: { class: 'upload-by-label' }, help: false, required: false }) }}
    </div>
    {{ form_row(form.title) }}
    {% if toValidate is defined and toValidate is same as(true) %}
      {{ form_row(form.period) }}
    {% else %}
      {% do form.period.setRendered() %}
    {% endif %}
  </div>
  <div class='ui stacked segment odl-dml'>
    {{ form_row(form.content) }}
  </div>
  <div class='ui stacked segment odl-dml'>
    {{ form_row(form.linkA) }}
    {{ form_row(form.linkB) }}
    <div class="ui toggle checkbox">
      {{ form_widget(form.isEvent, {attr: {class: 'hidden', tabindex: '0'}}) }}
      {{ form_label(form.isEvent) }}
    </div>
    {{ form_row(form.save) }}
  </div>
  {{ form_end(form) }}
  <p id="result-file-selected"></p>
  <i class="icon times circle btn_close" id="update-close"></i>
</div>
