{% trans_default_domain 'users' %}

{% extends 'body.html.twig' %}

{% block title %}
  {% set title = 'users' %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class="ui segment main-container-form odl-dmd">
    {% include 'partial/back_button.html.twig' with {title: 'users'|trans({}, 'page_titles')} %}
    <div class="ui segment odl-dml">
      <div class="ui middle aligned animated list">
        {% for user in users %}
          <div class="item">
            <div class="right floated content">
              <div class='ui buttons'>
                <a href='{{ path('odl_admin_edit_user', {'id': user.id}) }}'
                   title='{{ 'edit'|trans({}, 'general') }}'
                   class="ui button">
                  <i class='cog icon'></i>
                </a>
                {% if user.apiToken is null %}
                  <button class='ui teal button generate-token'
                          data-user-id='{{ user.id }}'
                          data-username='{{ user.userIdentifier }}'
                          title='{{ 'api_token.generate_label'|trans({}, 'security') }}'>
                    <i class='key icon'></i>
                  </button>
                {% else %}
                  <button class='ui teal button generate-token'
                          data-user-id='{{ user.id }}'
                          data-username='{{ user.userIdentifier }}'
                          title='{{ 'api_token.regenerate_label'|trans({}, 'security') }}'>
                    <i class='recycle icon'></i>
                  </button>
                {% endif %}
                {% if user == app.user %}
                  <button class='ui red button disabled'>
                    <i class='trash icon'></i>
                  </button>
                {% else %}
                  <button class='ui red button delete-user'
                          data-user-id='{{ user.id }}'
                          data-username='{{ user.userIdentifier }}'
                          title='{{ 'remove'|trans({}, 'general') }}'>
                    <i class='trash icon'></i>
                  </button>
                {% endif %}
              </div>
            </div>
            {% if user.avatar %}
              <img class="ui avatar image"
                   src="{{ asset(path_images ~ '/avatars/' ~ user.avatar) }}"
                   alt='avatar'>
            {% else %}
              <i class='icon user'></i>
            {% endif %}
            <div class="content">
              <div class="header">{{ user.userIdentifier }}</div>
              {% if user.isActive %}
                <div class="description">
                  {{- user.lastLogin ? 'last_login'|trans({date: user.lastLogin|date('Y-m-d H:i:s')}) : 'never_logged_in'|trans -}}
                </div>
              {% else %}
                <div class="description">{{ 'inactive'|trans }}</div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <a href='{{ path('odl_admin_create_user') }}'
         class='ui button primary'>
        <i class='icon plus'></i> {{ 'add'|trans({}, 'general') }}
      </a>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script type="application/javascript">
    ODL.security.token = {
      update: "{{ csrf_token('generate-token') }}",
      delete: "{{ csrf_token('delete-user') }}",
    };
  </script>
  <script type="module"
          src="{{ asset('assets/js/generate-api-token.js') }}"></script>
  <script type="module"
          src="{{ asset('assets/js/delete-user.js') }}"></script>
{% endblock %}
