body main section.main-section .ui.header{display:flex;justify-content:center;align-items:center}body main section.main-section .ui.indicating.progress .label{top:0}body main section.main-section .label.odl-dml.dark-mode-low{background:transparent !important}body main #global-progress .image{height:67px;background-size:cover;background-image:url("/assets/img/website_banner.jpeg");background-position:center}
