{% extends 'body.html.twig' %}

{% block title %}
  {% set title = 'add_arc' %}
  {{ parent() }}
{% endblock %}

{% block body %}

  <div class="ui segment main-container-form odl-dmd">
    {% include 'partial/back_button.html.twig' with {title: 'title'|trans({}, 'add_arc')} %}
    {{ form_start(form) }}
    <div class="ui form segment odl-dml">
      {{ form_row(form.title) }}
      {{ form_row(form.content) }}
      <div class="ui divider"></div>
      {{ form_row(form.cover) }}
      <div class="ui divider"></div>
      {{ form_row(form.linkA) }}
      {{ form_row(form.linkB) }}
      <div class="ui divider"></div>
      <div class="ui toggle checkbox">
        {{ form_widget(form.isEvent, {attr: {class: 'hidden', tabindex: '0'}}) }}
        {{ form_label(form.isEvent) }}
      </div>
      <div class="ui divider"></div>
      {{ form_row(form.period, {attr: {class: 'ui fluid dropdown'}}) }}
      {{ form_row(form.position) }}
    </div>
    {{ form_row(form.save) }}
    {{ form_end(form) }}
  </div>

{% endblock %}

{% block javascripts %}
  <script>
    $(document).ready(function () {
      $('#arc_form_position').popup();
      $('.ui.dropdown').dropdown();
    });
  </script>
{% endblock %}
