{% trans_default_domain 'moderation_list' %}

{% extends 'body.html.twig' %}

{% block title %}
  {% set title = 'moderation_list' %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class='ui segment moderation-list odl-dmd'>
    {% include 'partial/back_button.html.twig' with {title: 'title'|trans({}, 'moderation_list')} %}
    <div class="moderation-content">
      {% if 0 < arcs|length %}
        {% include 'partial/pagination_buttons.html.twig' with {class_button: 'top', firstPage: true} %}
        {% include 'partial/arcs_moderation.html.twig' %}
        {% include 'partial/pagination_buttons.html.twig' with {class_button: 'bottom', firstPage: true} %}
        <div id='validation-container'
             class="ui labeled button"
             tabindex="0">
          <div class="ui button">
            <i class="check icon"></i> {{ 'validate_all'|trans }}
          </div>
          <a class="ui basic label">0</a>
        </div>
      {% else %}
        <div class="ui two column centered grid">
          <div class="column centered row">
            <p>{{ 'empty_list'|trans|raw }}</p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  {% include 'partial/button_back_to_top.html.twig' %}
{% endblock %}

{% block javascripts %}
  {% if 0 < arcs|length %}
    <script type='text/javascript'>
      ODL.security.token = {
        remove: "{{ csrf_token('remove-arc') }}",
        update: "{{ csrf_token('update-arc') }}",
        validate: "{{ csrf_token('validate-arcs') }}",
      };
    </script>
    <script type="module"
            src="{{ asset('assets/js/update-arc.js') }}"></script>
    <script type="module"
            src="{{ asset('assets/js/moderation-list.js') }}"></script>
    <script type="module"
            src="{{ asset('assets/js/pagination-moderation.js') }}"></script>
  {% endif %}
{% endblock %}
