{% trans_default_domain 'email' %}

<body style='background-color: #efefef; width: 100%; padding: 5px;'>
{% set borderRadius = '5px' %}
{% if banner is not null %}
  {% set borderRadius = '0 0 5px 5px' %}
  <img src="{{ email.image('@images/' ~ banner) }}" alt="Banner" style='width: 75%; display: block; margin: 0 auto; border-radius: 5px 5px 0 0;'>
{% endif %}
<div style='background-color: white; width: 75%; margin: 0 auto; border-radius: {{ borderRadius }};'>
  <div style='width: 100%; padding: 10px;'>
    <h2>{{ 'user_created.hello'|trans({'%username%': user.userIdentifier }) }}</h2>
    <p>{{ 'user_created.message'|trans({
        '%homeURL%': path('odl_home_page'),
        '%website%': app_name,
        '%username%': user.userIdentifier,
        '%loginURL%': path('odl_security_login')
      })|raw }}</p>
    <div style='width: 100%; text-align: center;'>
      <a href='{{ url }}' style='padding: 5px; background-color: #2185d0; color: white; border-radius: 5px; text-decoration: none;'>
        {{ 'user_created.button'|trans }}
      </a>
    </div>
    <p>{{ 'user_created.warning'|trans }}</p>
    <p>{{ 'user_created.bye'|trans({'%name%': sign })|raw }}</p>

    <p>{{ 'user_created.link_text'|trans }}<br>
      <a href='{{ url }}' style='width: 90%; display: inline-block; word-wrap: anywhere;'>{{ url }}</a>
    </p>
  </div>
</div>
</body>
