{% set app_settings = app_settings.findAll %}
{% set app_maintenance = app_maintenance.isExists %}
<!DOCTYPE html>
<html>
<head>
  {% include 'partial/global_js_app_constant.html.twig' %}
  <script async src="{{ asset('assets/js/dark-mode.js') }}"></script>
  <meta charset="UTF-8">
  {%- block title -%}
    {%- set title = title ?? '' -%}
    {%- set param = param ?? {} -%}
    <title>{{ app_name ~ ' | ' ~ title|trans(param, 'page_titles') }}</title>
  {%- endblock -%}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/assets/favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/assets/favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/assets/favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ asset('/assets/favicon/site.webmanifest') }}">
  {% include "partial/stylesheets.html.twig" %}
  {% block stylesheets %}{% endblock %}
</head>
<body class='odl-dml'>
<main>
  {% include "partial/menu.html.twig" %}
  {% include "partial/header.html.twig" %}
  {% include "partial/message_flash.html.twig" %}
  <section class='ui middle aligned center aligned grid main-section'>
    {% block body %}{% endblock %}
    {% include "partial/javascripts.html.twig" %}
    {% block javascripts %}{% endblock %}
  </section>
  {% include "partial/footer.html.twig" %}
</main>
</body>
</html>
