{% extends "body.html.twig" %}

{% block title %}
  {% set title = 'home' %}
  {{ parent() }}
{% endblock %}

{% block body %}
  {% for universe in universes %}
    <div class='ui segment universe odl-dmd'>
      <h2 class='ui centered header universe-title'
          data-universe-id='{{ universe.id }}'>
        {%- if universe.logo is not empty -%}
          <img src='{{ asset('/assets/img/logos/' ~ universe.logo) }}' alt="" class="ui mini image">
        {%- endif -%}
        {{ universe.name -}}
      </h2>
      <div class='universe-container' id='{{ universe.id }}'>
        {% if universe.description %}
          <div class="ui floating message description odl-dml">{{ universe.description }}</div>
        {% endif %}
        <div class='eras-container'>
          {% for era in universe.eras|sort((a, b) => a.position <=> b.position) %}
            {% set count = era|countArcsByEra %}
            <a href='{{ path('odl_reading_order_page', {'universe': universe.slug, 'era': era.slug}) }}'
               class='ui blue segment era-line odl-dml'>
              <div class='era-cover'>
                <img src='{{ asset('/assets/img/sections/' ~ era.image) }}' alt="">
              </div>
              <div class='era-title'>
                <h3 class='odl-dml'>{{ era.name }}</h3>
                <div class='arcs-count'>
                  {% include 'partial/era-status.html.twig' with {status: era.status} %}
                  <span class='ui blue right ribbon label'>{{ count }}</span>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
        <button class='ui basic button btn_hide down odl-dml' name='hide'>
          {{ 'close_button'|trans({}, 'reading_order') }}
        </button>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block javascripts %}
  <script type='application/javascript' src="{{ asset('/assets/js/home.js') }}"></script>
{% endblock %}
