{% trans_default_domain 'reading_order' %}

{% extends "body.html.twig" %}

{% block title %}
  {% set title = 'reading_order' %}
  {% set param = {'%reading_order%': era.name|raw} %}
  {{ parent() }}
{% endblock %}

{% block body %}
  {% set arcsTotal = era|countArcsByEra %}
  <div id="reading-order-head"
       class="container-main-head">
    <a href="{{ referrer() }}"
       class="ui button back-button odl-dml">{{ 'back_button'|trans({}, 'general') }}</a>
    <h2>
      <img src="{{ asset('/assets/img/logos/' ~ era.universe.logo) }}"
           class="ui right spaced avatar image"
           alt="">
      {{ universe.name ~ ' - ' ~ era.name }}
      <a class="ui label"
         id="arcs-count-label"
         data-count="{{ arcsTotal }}">
        <span></span>
      </a>
    </h2>
  </div>
  {% if era.description %}
    <div class="ui floating message description odl-dmd">{{ era.description }}</div>
  {% endif %}
  {% if is_granted('ROLE_USER') %}
    <div
            id="reading-progress"
            class="ui indicating progress"
            data-value=""
            data-total="{{ arcsTotal }}"
            title="{{ 'reading_progress'|trans }}"
    >
      <div class="bar"></div>
      <div class="label"></div>
    </div>
  {% endif %}
  {% for period in era.periods %}
    {% set arcsLength = period|countArcsByPeriod %}
    {% if 0 < arcsLength %}
      <div class='ui segment period odl-dmd'
           id='{{ period.id }}'>
        <h2 class='period-title'>{{ period.name }}</h2>
        <div class="arcs-count">
          <span class='ui blue right ribbon label'>{{ arcsLength }}</span>
        </div>
        <div class='period-container'>
          {% if period.description %}
            <div class="ui floating message description odl-dml">{{ period.description }}</div>
          {% endif %}
          {% include 'partial/pagination_buttons.html.twig' with {'class_button': 'top'} %}
          <div class='arcs-container'></div>
          {% include 'partial/pagination_buttons.html.twig' with {'class_button': 'bottom'} %}
          <button class='ui basic button btn_hide down odl-dml'
                  name='hide'>{{ 'close_button'|trans }}</button>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  {% include 'partial/button_back_to_top.html.twig' %}
{% endblock %}

{% set periods = [] %}
{% for period in era.periods %}
  {% set periods = periods|merge([period]) %}
{% endfor %}

{% block javascripts %}
  <script type="application/javascript">
    toggleSection();
    // todo: duplicate era id
    ODL.era = {id: "{{ era.id }}"};
    ODL.data = {
      eraId: {{ era.id|json_encode|raw }},
      periods: {{ periods|json_encode|raw }},
      pathAssetCover: '{{ asset('/assets/img/covers/', 'directory') }}'
    }
  </script>
  <script type="application/javascript"
          src="{{ asset('/js/circular-progress.min.js') }}"></script>
  {% if is_granted('ROLE_USER') %}
    <script type='application/javascript'>
      ODL.security.token.read = "{{ csrf_token('read-arc') }}";
      ODL.security.token.unread = "{{ csrf_token('unread-arc') }}";
      ODL.user.role = ODL.security.roles.user;
    </script>
  {% endif %}
  <script type="module" src="{{ asset('assets/js/pagination-reading-order.js') }}"></script>
  {% if is_granted('ROLE_EDITOR') %}
    <script type='application/javascript'>
      ODL.security.token.remove = "{{ csrf_token('remove-arc') }}";
      ODL.security.token.update = "{{ csrf_token('update-arc') }}";
    </script>
    <script type="module" src="{{ asset('assets/js/update-arc.js') }}"></script>
  {% endif %}
  <script type="module" src="{{ asset('assets/js/reading-order.js') }}"></script>
{% endblock %}
