{% trans_default_domain 'search' %}

{% extends "body.html.twig" %}

{% block title %}
  {% set title = 'search' %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class='ui segment search-page odl-dmd'>
    {% if error is defined %}
      {% include 'partial/message.html.twig' with {message: {type: 'warning', content: error}} %}
    {% else %}
      <div class='ui blue message'>
        {{ 'search'|trans({'%query%': query})|raw }}
        <br>
        {{ 'total'|trans({'%total%': arcs|length}) }}
      </div>
      <div class="search-content">
        {% set periodName = '' %}
        {% set arcs = (from is null) ? arcs|sortAllArcs : arcs|sortEraArcs %}
        <div class='arcs-container'>
          {% for arc in arcs %}
            {% if arc.period.name != periodName %}
              {% if from is null %}
                {% set era = arc.period.era %}
                {% set universeName = arc.period.era.universe.name %}
              {% endif %}
              {% set periodName = arc.period.name %}
              <div class='ui message header odl-dml'>
                {% if universeName is defined %}{{ universeName ~ ' - ' ~ era.name ~ ' - ' }}{% endif %}{{ arc.period.name }}
              </div>
            {% endif %}
            {% set canEdit = isGrantedEditor(era) %}
            {% set readings = render(path('odl_readings_by_era', {id: era.id})) %}
            {% include 'partial/arc_line.html.twig' %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
  {% include 'partial/button_back_to_top.html.twig' %}
{% endblock %}

{% block javascripts %}
  {% if is_granted('ROLE_EDITOR') %}
    <script type='application/javascript'>
      ODL.security.token = {
        remove: "{{ csrf_token('remove-arc') }}",
        update: "{{ csrf_token('update-arc') }}",
      };
    </script>
    <script type="module"
            src="{{ asset('assets/js/update-arc.js') }}"></script>
  {% endif %}
{% endblock %}
