{% trans_default_domain 'reading_order' %}

<div class='arc-line ui padded segment blue odl-dml'
     data-position=''
     id=''
>
  <div class="ui blue ribbon label crossover-logo">
    <i class="random icon">{{ 'crossover'|trans }}</i>
  </div>
  <div class='arc-position ui blue left corner label' title="{{ 'copy_link'|trans }}">
    <span class='icon'></span>
  </div>
  <div class='arc-cover'>
    <img src=''
         alt=''
         title=''
    >
  </div>
  <div class='arc-title'>
    <h3></h3>
  </div>
  <div class='arc-description'>
    <p></p>
  </div>
  {% if (era.getLogoLinkA() is not empty) or (era.getLogoLinkB() is not empty) %}
    <div class='arc-logos'>
      <h4>{{ 'available'|trans }}</h4>
      <div>
        {% if (era.getLogoLinkA() is not empty) %}
          <img src='{{ asset('assets/img/logos/' ~ era.getLogoLinkA()) }}'
               alt='logo'
               class='disabled ui mini image'
               title="{{ 'unavailable'|trans }}"
          >
        {% endif %}
        {% if (era.getLogoLinkB() is not empty) %}
          <img src='{{ asset('assets/img/logos/' ~ era.getLogoLinkB()) }}'
               alt='logo'
               class='disabled ui mini image'
               title="{{ 'unavailable'|trans }}"
          >
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="right-side">
    {% if is_granted('ROLE_USER') %}
      <div class="user-actions">
        <button class="ui basic icon button read odl-dmd"
                title='{{ 'reading.read_unread'|trans }}'
        >
          <i class="book reader icon"></i>
        </button>
      </div>
    {% endif %}
    {% if canEdit is defined and canEdit is same as(true) %}
      <div class='arc-editor'>
        <div class="ui compact menu odl-dmd">
          <div class="ui basic icon button simple dropdown item">
            <i class="ellipsis horizontal icon"></i>
            <div class="menu">
              <a class="item edit">{{ 'edit'|trans({}, 'general') }}</a>
              <a class="item remove">{{ 'remove'|trans({}, 'general') }}</a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="rating-container ui card">
      <p>{{ 'ratings.title'|trans }}&nbsp;<i class="icon trash unrate" title="{{ 'ratings.unrate'|trans }}"></i></p>
      {% if is_granted('ROLE_USER') %}
        <div class="ui yellow rating" data-icon="star" data-rating=""></div>
      {% endif %}
      <div class="pie" data-pie='{"percent": 0}'></div>
      <div class="total-rating">{{ 'ratings.total'|trans({'%total%': 0}) }}</div>
    </div>
  </div>
</div>
