{% trans_default_domain 'reading_order' %}
{% set toValidate = toValidate is defined ? toValidate : false %}

<div class='arc-line ui padded segment blue odl-dml{% if arc.isEvent %} isEvent{% endif %}'
     data-position='{{ arc.position }}'
     id='{{ arc.id }}'
>
  {% if arc.isEvent %}
    <div class="ui blue ribbon label crossover-logo">
      <i class="random icon">{{ 'crossover'|trans }}</i>
    </div>
  {% endif %}
  <div class='arc-position ui blue left corner label'>
    <span class='icon'>{{ arc.position }}</span>
  </div>
  <div class='arc-cover'>
    <img src='{{ asset('assets/img/covers/' ~ arc.cover) }}'
         alt='{{ arc.title|unescape }}'
         title='{{ arc.title|unescape }}'
    >
  </div>
  <div class='arc-title'>
    <h3>{{ arc.title|unescape }}</h3>
  </div>
  <div class='arc-description'>
    <p>{{ arc.content|unescape|nl2br }}</p>
  </div>
  {% if (era.getLogoLinkA() is not empty) or (era.getLogoLinkB() is not empty) %}
    <div class='arc-logos'>
      <h4>{{ 'available'|trans }}</h4>
      <div>
        {% if (era.getLogoLinkA() is not empty) %}
          {% if arc.getLinkA() is not empty %}
            <a href='{{ arc.getLinkA() }}'
               target='_blank'
               class='ui mini image'>
              <img src='{{ asset('assets/img/logos/' ~ era.getLogoLinkA()) }}'
                   alt="logo"
              >
            </a>
          {% else %}
            <img src='{{ asset('assets/img/logos/' ~ era.getLogoLinkA()) }}'
                 class='disabled ui mini image'
                 alt='logo'
                 title="{{ 'unavailable'|trans }}"
            >
          {% endif %}
        {% endif %}
        {% if (era.getLogoLinkB() is not empty) %}
          {% if arc.getLinkB() is not empty %}
            <a href='{{ arc.getLinkB() }}'
               target='_blank'
               class='ui mini image'>
              <img src='{{ asset('assets/img/logos/' ~ era.getLogoLinkB()) }}'
                   alt="logo"
              >
            </a>
          {% else %}
            <img src='{{ asset('assets/img/logos/' ~ era.getLogoLinkB()) }}'
                 class='disabled ui mini image'
                 alt='logo'
                 title="{{ 'unavailable'|trans }}"
            >
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if is_granted('ROLE_USER') %}
    {% set isRead = false %}
    {% if readings is defined %}
      {% set readings = readings|json_decode %}
      {% set isRead = arc.id in readings %}
    {% endif %}
    <div class="user-actions">
      <button class="ui basic icon button read odl-dmd{{ isRead ? ' violet' : '' }}"
              title='{{ 'reading.read_unread'|trans }}'
              data-arc-id="{{ arc.id }}"
              data-arc-title="{{ arc.title }}"
      >
        <i class="book reader icon"></i>
      </button>
    </div>
  {% endif %}
  {% if canEdit is defined and canEdit is same as(true) %}
    <div class='arc-editor{% if toValidate is same as(true) %} flex{% endif %}'>
      <button class="ui basic icon button edit odl-dmd"
              title='{{ 'edit'|trans({}, 'general') }}'
              data-arc-id='{{ arc.id }}'
      >
        <i class='icon pen fancy'></i>
      </button>
      <button class="ui basic icon button remove odl-dmd"
              title='{{ 'remove'|trans({}, 'general') }}'
              data-arc-id='{{ arc.id }}'
      >
        <i class='icon trash'></i>
      </button>
      {% if toValidate is same as(true) %}
        <div class="ui left floated compact segment odl-dmd">
          <div class="ui fitted toggle checkbox validate-one">
            <label>
              <input type="checkbox"
                     class="validation"
                     data-arc-id='{{ arc.id }}'
              >
            </label>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
