{% set periodName = '' %}
{% set arcs = arcs|sortAllArcs %}
<div class='arcs-container'>
{% for arc in arcs %}
    {% if arc.period.name != periodName %}
    {% set era = arc.period.era %}
    {% set universeName = arc.period.era.universe.name %}
    {% set eraName = era.name %}
    {% set periodName = arc.period.name %}
    <div class='ui message header odl-dml'>
    {{ universeName ~ ' - ' ~ eraName ~ ' - ' ~ periodName }}
    </div>
    {% endif %}
    {% set canEdit = isGrantedEditor(era) %}
    {% include 'partial/arc_line.html.twig' with {toValidate: true} %}
{% endfor %}
</div>
