{% if backButton is not defined %}
	{% set backButton = referrer() %}
{% endif %}

<div class="container-main-head">
	{% if backButton is not null %}
	<a href="{{ backButton }}" class="ui button back-button odl-dml">{{ 'back_button'|trans({}, 'general') }}</a>
	{% endif %}
	<h2>{{ title }}</h2>
</div>
