{% trans_default_domain trans_domain %}

<div class="ui cards">
  {% for card in cards %}
    {% if is_granted(card.role) %}
      {% set title = card.trans ~ '.title' %}
      {% set desc = card.trans ~ '.desc' %}
      <div class="ui card">
        <div class="content">
          <div class="header"><i class="{{ card.icon }} icon"></i>{{ title|trans }}</div>
          <div class="description">
            {{ desc|trans }}
          </div>
        </div>
        <a href="{{ path(card.path) }}">
          <div class="ui bottom attached button odl-dmd">
            <i class="play icon"></i>
          </div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>
