{% set statusMapping = {
  1: {label: 'status.in_progress'|trans({}, 'manage_sections'), color: 'blue'},
  2: {label: 'status.paused'|trans({}, 'manage_sections'), color: 'brown'},
  3: {label: 'status.ended'|trans({}, 'manage_sections'), color: 'green'},
  4: {label: 'status.abandoned'|trans({}, 'manage_sections'), color: 'grey'},
} %}

<span class='ui {{ statusMapping[status].color }} right ribbon label'>{{ statusMapping[status].label }}</span>
