{% trans_default_domain 'footer' %}

<footer id="footer">
	<div>
		{% if app_settings.copyright_website is defined and app_settings.copyright_website %}
		<p>{{ 'created_by'|trans({'%creator%': app_settings.copyright_website})|raw }}</p>
		{% endif %}
		{% if app_settings.copyright_developer is not defined or app_settings.copyright_developer %}
		<p>{{ 'developed_by'|trans|raw }}</p>
		{% endif %}
	</div>
</footer>
