<script type="application/javascript">
  const ODL = {
    translation: {
      readingOrder: {
        confirmRemoveSection: "{{ 'form.confirm_removal'|trans({}, 'manage_sections')|raw }}",
        confirmRemoveArc: title => {
          const trans = "{{ 'confirm_remove_arc'|trans({}, 'reading_order')|raw }}";
          return trans.replace('%title%', title);
        },
        read: title => {
          const trans = "{{ 'reading.read'|trans({}, 'reading_order')|raw }}";
          return trans.replace('%title%', title);
        },
        unread: title => {
          const trans = "{{ 'reading.unread'|trans({}, 'reading_order')|raw }}";
          return trans.replace('%title%', title);
        },
        totalRatings: total => {
          const trans = "{{ 'ratings.total'|trans({}, 'reading_order')|raw }}";
          return trans.replace('%total%', total);
        },
        starsTitles: [
          "{{ 'ratings.stars.1'|trans({}, 'reading_order')|raw }}",
          "{{ 'ratings.stars.2'|trans({}, 'reading_order')|raw }}",
          "{{ 'ratings.stars.3'|trans({}, 'reading_order')|raw }}",
          "{{ 'ratings.stars.4'|trans({}, 'reading_order')|raw }}",
          "{{ 'ratings.stars.5'|trans({}, 'reading_order')|raw }}"
        ],
        disabledRating: "{{ 'ratings.disabled'|trans({}, 'reading_order') }}",
      },
      form: {
        confirm: "{{ 'form.confirm'|trans({}, 'general')|raw }}",
        cancel: "{{ 'form.cancel'|trans({}, 'general')|raw }}",
      },
      general: {
        dangerZone: "{{ 'danger_zone'|trans({}, 'general')|raw }}",
        removeSuccess: "{{ 'remove_success'|trans({}, 'general')|raw }}",
        edit: "{{ 'edit'|trans({}, 'general')|raw }}",
        remove: "{{ 'remove'|trans({}, 'general')|raw }}",
        viewmore: "{{ 'view_more'|trans({}, 'general')|raw }}",
        generalError: "{{ 'general_error'|trans({}, 'general')|raw }}",
        confirmSuccess: "{{ 'form.confirm_modification'|trans({}, 'general')|raw }}",
        copyToClipboard: "{{ 'copy_to_clipboard'|trans({}, 'general')|raw }}",
      },
      profile: {
        not_supported: "{{ 'croppie.not_supported'|trans({}, 'user_profile')|raw }}",
        validate: "{{ 'croppie.validate'|trans({}, 'user_profile')|raw }}",
        comfirm_removal: "{{ 'croppie.comfirm_removal'|trans({}, 'user_profile')|raw }}",
        confirm_account_removal_modal: "{{ 'remove_account.confirm_removal_modal'|trans({}, 'user_profile') }}"
      },
      moderationList: {
        confirmValidation: count => {
          const trans = "{{ 'confirm_validation'|trans({}, 'moderation_list')|raw }}";
          return trans.replace('%count%', count);
        },
        validateSuccess: "{{ 'validate_success'|trans({}, 'moderation_list')|raw }}",
      },
      security: {
        confirmGenerateToken: username => {
          const trans = "{{ 'api_token.confirm_generation'|trans({}, 'security')|raw }}";
          return trans.replace('%user%', username);
        },
        confirmSuccess: token => {
          const trans = "{{ 'api_token.confirm_success'|trans({}, 'security')|raw }}";
          return trans.replace('%token%', token);
        }
      },
      users: {
        confirmDeleteUser: username => {
          const trans = "{{ 'confirm_delete_user'|trans({}, 'users')|raw }}";
          return trans.replace('%username%', username);
        },
        confirmSuccess: token => {
          const trans = "{{ 'confirm_success_deletion'|trans({}, 'users')|raw }}";
          return trans.replace('%username%', token);
        }
      },
      journal: {
        confirmGarbage: "{{ 'confirm_garbage'|trans({}, 'journal') }}",
      }
    },
    darkMode: 'light',
    path: {
      covers: "{{ asset('assets/img/covers', 'directory') }}",
    },
    security: {
      token: {},
      roles: {
        user: 1,
      },
    },
    events: {arc: {}},
    user: {
      role: 0,
      rates: [],
    },
    data: {},
  };
  const arcEvent = new Event('arc:update', {
    bubbles: true,
    cancelable: true
  });
  ODL.events.arc.update = arcEvent;
</script>
