{# Import libs first #}
<script type="application/javascript"
        src="https://code.jquery.com/jquery-{{ cdn.jquery.version }}.min.js"
        integrity="{{ cdn.jquery.integrity }}"
        crossorigin="anonymous"></script>
<script type="application/javascript"
        src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script type="application/javascript"
        src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script type="application/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/{{ cdn.fomantic }}/semantic.min.js"></script>
<script type="application/javascript"
        src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{# Import global own scripts #}
<script type="application/javascript"
        src="{{ asset('assets/js/general.js') }}"></script>
<script type="module"
        src="{{ asset('assets/js/search-bar.js') }}"></script>
