{% trans_default_domain 'menu' %}

<div class="ui icon menu" id='up'>
  <a href='{{ path('odl_home_page') }}' title='{{ 'home'|trans }}' class='item'>
    <i class='icon home'></i>
  </a>
  {% if is_granted('ROLE_EDITOR') %}
    <a href='{{ path('odl_admin_home') }}' title='{{ 'admin_panel'|trans }}' class='item'>
      <i class='icon bars'></i>
    </a>
  {% elseif is_granted('ROLE_USER') %}
    <a href='{{ path('odl_user_home') }}' title='{{ 'user_panel'|trans }}' class='item'>
      <i class='icon bars'></i>
    </a>
  {% endif %}
  {% if is_granted('ROLE_CONTRIBUTOR') %}
    <a href='{{ path('odl_admin_add_arc') }}' title='{{ 'add_arc'|trans }}' class='item'>
      <i class='icon plus circle'></i>
    </a>
  {% endif %}
  <a id='dark-mode-button' title='{{ 'dark_mode'|trans }}' class='item'>
    <i class='ui icon moon'></i>
  </a>
  <div class='right menu'>
    <div class='item'>
      {% include "partial/search-bar.html.twig" %}
    </div>
    {% if is_granted('ROLE_USER') %}
      <p class='ui basic message item odl-dmd'>{{ 'hello'|trans({'%username%': app.user.userIdentifier }) }}</p>
      <a href='{{ path('odl_user_profile') }}' title='{{ 'profile'|trans }}' class='item'>
        {% if app.user.avatar %}
          <img id='user-avatar' src='{{ asset(path_images ~ '/avatars/' ~ app.user.avatar) }}' alt="">
        {% else %}
          <i class='icon user'></i>
        {% endif %}
      </a>
      <a href='{{ logout_path() }}' title='{{ 'logout'|trans }}' class='item'>
        <i class='icon sign out'></i>
      </a>
    {% else %}
      <a href='{{ path('odl_register') }}' title='{{ 'register'|trans }}' class='item'>
        <i class='icon user plus'></i>
      </a>
      <a href='{{ path('odl_security_login') }}' title='{{ 'login'|trans }}' class='item'>
        <i class='icon sign in'></i>
      </a>
    {% endif %}
  </div>
</div>
