{% set icons = {
  info: 'info circle',
  success: 'check circle',
  warning: 'exclamation triangle',
  error: 'bug',
} %}
{% if app.flashes is defined %}
  <div id="odl-app-flash">
    {% for label, messages in app.flashes %}
      <div class="ui {{ label }} message odl-inv">
        {% for message in messages %}
          <p><i class="{{ icons[label] }} icon"></i>&nbsp;{{ message }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endif %}
