{% if arcsLength > 20 %}
  <div class='pagination ui horizontal segments {{ class_button }}'>
    <button type='button' class='btn_prev ui segment odl-inv' name='pagination' {% if firstPage is defined %}disabled{% endif %}><i class='icon chevron circle left'></i></button>
    {% set p = (arcsLength / 20)|round(0, 'ceil') %}
    {% for i in 1..p %}
      <button class='btn_page ui segment odl-inv{% if firstPage is defined and i == 1 %} active{% endif %}' name='pagination' data-page='{{ i }}'>{{ i }}</button>
    {% endfor %}
    <button type='button' class='btn_next ui segment odl-inv' name='pagination'><i class='icon chevron circle right'></i></button>
  </div>
{% endif %}
