{% if formInput is defined %}
  <div>
    {{ form_label(formInput) }}
  </div>
  <div>
    <div class='ui left icon right labeled input'>
      <i class='lock icon'></i>
      {{ form_widget(formInput) }}
      <div class="ui basic label odl-inv">
        <i class='eye slash icon' onclick="revealPassword(this)"></i>
      </div>
    </div>
  </div>
{% endif %}
