<div class="ui category search">
  <div class="ui transparent icon input">
    <label for="search-bar"></label>
    <input class="prompt" id="search-bar" type="text" placeholder="{{ 'search'|trans({}, 'menu') }}">
    <i class="search icon"></i>
  </div>
  <div class="results" id='search-results'></div>
</div>
