<link rel="stylesheet" href="{{ asset('/assets/css/global.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v{{ cdn.fontawesome }}/css/all.css" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/{{ cdn.fomantic }}/semantic.min.css">
