{% trans_default_domain 'error' %}

{% extends 'body.html.twig' %}

{% block body %}
<div class="ui error message">
  <div class="header">
    {{ '404.title'|trans }}
  </div>
  <p>{{ '404.message'|trans }}</p>
</div>
{% endblock %}
