/**
  * SWEETALERT
**/
.swal-modal.swal-danger-mode {
  background: rgb(97, 21, 21);

  div {
    color: $white;
  }
}

/**
  * END SWEETALERT
**/
/**
  * SCROLLBAR CHROME
**/
::-webkit-scrollbar {
  width: 8px;
  margin-right: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  background-color: $black;
}

/**
  * END SCROLLBAR CHROME
**/
/**
  * DARK MODE
**/
html.odl-dark {
  background: $black-lighter-2;
}

html.odl-dark .odl-dml {
  background: $black-lighter-2 !important;
  color: $lightgrey-lighter !important;
}

html.odl-dark .odl-dmd {
  background: $black-lighter-1 !important;
  color: $lightgrey-lighter !important;
}

html.odl-dark .odl-dmd,
html.odl-dark .odl-dml {
  label,
  .ui.toggle.checkbox input:checked ~ label,
  .header,
  .description {
    color: $lightgrey-lighter !important;
  }

  input,
  textarea,
  .ui.mini.message.help {
    background: $black-lighter-2 !important;
    color: $white-darker !important;
    border: solid 1px $lightgrey !important;
  }

  .ui.mini.message.help,
  .ui.mini.message.help {
    border: none !important;
  }
}

html.odl-dark .odl-dml .arc-logos img {
  border-radius: 5px;
  background: $middle-grey;
}

/**
  * END DARK MODE
**/
/**
  * APP FLASH MESSAGE
**/
body {
  main {
    #odl-app-flash {
      position: fixed;
      top: 0;
      z-index: 1000;
      width: 100%;
      margin-top: 42px;

      div {
        margin: 0 auto;
        width: max-content;
      }
    }
  }
}

/**
  * END APP FLASH MESSAGE
**/
/**
  * TITLE & BACK BUTTON
**/
body {
  main {
    section.main-section {
      .container-main-head {
        width: 100%;
        height: 36px;
        margin-bottom: 5px;
        position: relative;

        .ui.button.back-button {
          position: absolute;
          left: 0;
        }

        h2 {
          width: 80%;
          text-align: center;
          margin: 0 auto;
        }
      }
    }

    #reading-order-head {
      h2 {
        display: flex;
        justify-content: center;
        align-items: center;

        #arcs-count-label {
          margin-left: 10px;
        }
      }
    }
  }
}

/**
  * END TITLE & BACK BUTTON
**/
/**
  * FOOTER
**/
footer#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  div {
    width: auto;

    p {
      font-size: 10px;
      color: $black;

      a {
        color: $black;
      }
    }
  }
}

/**
  * END FOOTER
**/
