body {
  main,
  .dimmer.modals {
    section.main-section,
    #result-arc {
      .container.form .segment {
        width: 50%;
      }

      .main-container-form {
        min-width: 50vw;
      }

      .ui.segment .ui.form {
        .ui.button {
          margin-bottom: 5px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .upload-by-label {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }

      p#result-file-selected {
        position: absolute;
        bottom: 2px;
        display: inline-block;
        margin: 0;
        left: 5px;
        font-size: 0.7em;

        &:not(:empty):before {
          content: 'Selected file: ';
        }
      }

      #update-inline {
        position: relative;
        margin-top: -14px;
        height: 252px;

        form.ui.form#form_arc_update {
          margin: 0;
          width: 100%;

          div {
            &.ui.stacked.segment {
              display: flex;
              flex-direction: column;
              justify-content: center;
            }

            &.update-cover-field div {
              display: flex;
              align-items: center;
            }

            &.ui.message.help {
              margin-top: 0;
            }

            .checkbox {
              padding: 5px;
            }
          }

          label.arc_form_cover_label {
            cursor: pointer;
            margin-top: 5px;
            width: 105px;
          }
        }

        .hidden_row {
          display: none;
        }

        .btn_close {
          position: absolute;
          right: 5px;
          top: 5px;
        }
      }
    }
  }
}
