/**
  * BUTTONS
**/
#btnup {
  z-index: 1;
  width: 30px;
  height: 30px;
  font-size: 20px;
  position: fixed;
  right: 20px;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    box-shadow: 0.5px 0.5px 0.5px $grey;
  }
}

.btn_send,
.btn_hide,
.btn_next,
.btn_prev,
.btn_page {
  cursor: pointer;

  &:hover {
    box-shadow: 0.5px 0.5px 0.5px $grey;
  }
}

.arc-editor .remove,
.arc-editor .edit,
.btn_close {
  cursor: pointer;
}
/**
  * END BUTTONS
**/
/**
  * GENERAL
**/
body {
  main {
    min-height: 100%;
    position: relative;
    padding-top: 42px;

    section {
      padding: 20px 20px 95px;

      &.main-section {
        margin: 1em !important;
        margin-bottom: 0 !important;
        padding-bottom: 85px !important;
      }
    }
  }
}
/**
  * END GENERAL
**/
