body {
  main {
    header {
      position: relative;
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('/assets/img/website_banner.jpeg') center;

      a#header {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
      }
    }
  }
}
