body {
  main {
    div.ui.icon.menu {
      z-index: 1000;
      position: fixed;
      margin-bottom: 0;
      width: 100%;
      top: 0;

      #user-avatar {
        height: 22px;
        width: 22px;
      }

      .right.menu {
        .message {
          margin-top: 0;
          margin-bottom: 0;
        }

        div.item {
          height: 42px;

          div.search {
            bottom: 0;

            div.input {
              height: 30px;
            }

            div.results {
              left: unset;
              right: 0;
            }
          }
        }
      }
    }
  }
}
