body {
  main {
    section.main-section {
      .upload-avatar {
        display: flex;
        padding: 5px;

        .container {
          display: flex;
          flex-direction: column;

          &:nth-child(2) {
            flex: 1;
          }

          .button {
            min-width: 100px;
            width: 100%;
          }

          .user-avatar {
            position: relative;

            .close.icon {
              position: absolute;
              right: 0;
              cursor: pointer;
            }
          }
        }
      }

      .danger-zone.dark-mode-low .header {
        color: #db2828 !important;
      }
    }
  }
}
