body {
  main,
  .dimmer.modals {
    section.main-section,
    #result-arc {
      div.period,
      div.search-page,
      div.universe,
      div.moderation-list,
      div.content {
        &:not(.content) {
          width: 90%;
        }

        .period-container,
        .search-content,
        .universe-container,
        .moderation-content {
          position: relative;

          .pagination .btn_page {
            transition: background ease 1s;

            &.active {
              background: $lightgrey;
            }
          }

          .era-line, .arc-line {
            .arc-position {
              cursor: pointer;
            }

            .era-cover, .arc-cover {
              display: flex;
              align-items: center;
            }

            .era-title, .arc-title {
              text-align: center;
              width: 30%;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .arc-description {
              width: 40%;
              max-height: max-content;
              font-size: 12px;
              font-weight: normal;
              display: flex;
              align-items: center;
            }

            .arc-logos {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 5px;

              & > div {
                display: flex;

                :nth-child(2) {
                  margin-left: 2px;
                }
              }
            }

            .right-side {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              width: min-content;

              .menu {
                min-height: auto;

                .dropdown {
                  box-shadow: none;
                  margin: 0;

                  i {
                    margin: 0;
                  }

                  .menu {
                    margin-left: -50px;
                    border-radius: 5px;
                  }
                }
              }

              .rating-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .rating {
                  margin: 0 10px;
                }

                .unrate {
                  display: none;
                  cursor: pointer;
                }
              }
            }

            .ui.blue.ribbon.label.crossover-logo {
              position: absolute;
              height: min-content;
              margin-top: auto;
              left: calc(-1rem - 0.1em);
              z-index: 1;
              bottom: 20px;
            }

            .arc-editor.flex {
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items: center;
            }
          }

          .btn_hide {
            margin-top: 10px;
          }

          #validation-container {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1;
          }
        }

        .period-container,
        .universe-container {
          display: none;
          height: 0;
          opacity: 0;
          overflow: hidden;
          transition: height 350ms ease-in-out, opacity 750ms ease-in-out;

          &.active {
            display: block;
            height: auto;
            opacity: 1;
          }
        }

        .search-content,
        .moderation-content {
          .arcs-container .arc-line.ui.segment {
            width: 100%;
            margin: 10px auto;
          }
        }

        .universe-container .era-line {
          .era-cover {
            width: 60%;
            max-height: 95%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              opacity: 0.5;
              height: 100%;

              @media screen and (max-width: 1680px) {
                height: unset;
                width: 100%;
              }
            }
          }

          .era-title {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 80px;
            color: $black;
          }
        }
      }

      div.content.arc {
        width: 100%;
      }

      .arcs-count {
        position: absolute;
        top: 15px;
        width: 0;
        padding-right: 1rem;
        right: 0;
      }

      .period-title,
      .universe-title {
        width: 100%;
        text-align: center;
        cursor: pointer;
      }

      .header {
        display: flex;
        justify-content: center;
        align-items: center;

        & > img.ui.image {
          margin-top: unset;
        }
      }

      .era-line,
      .arc-line {
        max-height: max-content;
        min-height: 240px;
        padding: .5em 1em !important;
        display: flex;
        justify-content: space-between;
      }

      .arc-line {
        &.disappear {
          opacity: 0;
          transition: opacity ease 1s;
        }

        &.hidden {
          opacity: 0;

          &.appear {
            opacity: 1;
            transition: opacity ease .3s;
          }
        }

        &.isEvent {
          border: 2px solid $blue;
        }

        & > .arc-position.ui.left.corner.label {
          top: 0;
          left: 0;
        }
      }
    }

    #reading-progress {
      width: 100%;

      .label {
        top: 0;

        &.odl-dml.dark-mode-low {
          background: transparent !important;
        }
      }
    }
  }
}
