$black: black;
$black-lighter-1: #161616;
$black-lighter-2: #222222;
$blue: #2185d0;
$lightgrey: lightgrey;
$lightgrey-lighter: #cccccc;
$middle-grey: #757575;
$grey: grey;
$white: white;
$white-darker: #f0f0f0;
