{% trans_default_domain 'user_reading_progress' %}

{% extends "body.html.twig" %}

{% block title %}
  {% set title = 'admin_home' %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class='ui very padded grid'>
    {% include 'partial/back_button.html.twig' with {title: 'title'|trans} %}
    {% set global = {total: 0, reading: 0} %}
    <div class="ui raised padded container segment odl-dmd">
      {% for universe in universes %}
        <div class="ui centered header">
          {%- if universe.logo is not empty -%}
            <img src='{{ asset('/assets/img/logos/' ~ universe.logo) }}' alt="" class="ui mini image">
          {%- endif -%}
          {{ universe.name }}
        </div>
        {% set universeTotal = {total: 0, reading: 0} %}
        <div class="ui centered cards">
          {% for era in universe.eras|sort((a, b) => a.position <=> b.position) %}
            {% set arcsTotal = era|countArcsByEra %}
            {% set reading = readings[era.id] ?? 0 %}
            {% set universeTotal = {
              total: universeTotal.total + arcsTotal,
              reading: universeTotal.reading + reading
            } %}
            <div class="ui card">
              <div class="image">
                <img src="{{ asset('/assets/img/sections/' ~ era.image) }}" alt="">
              </div>
              <div class="content">
                <a href="{{ path('odl_reading_order_page', {universe: universe.slug, era: era.slug}) }}" class="header">{{ era.name }}</a>
              </div>
              <div class="extra content">
                <a class="ui pointing basic label">{{ 'ratio'|trans({value: reading, total: arcsTotal}) }}</a>
                <a class="ui pointing basic label">{{ 'percent'|trans({value: percent(reading, arcsTotal)|number_format(2, 'decimal_separator'|trans)}) }}</a>
                <a class="ui pointing basic label">{{ 'progress_left'|trans({value: arcsTotal - reading}) }}</a>
              </div>
              <div class="ui indicating bottom attached progress" data-value="{{ reading }}" data-total="{{ arcsTotal }}">
                <div class="bar"></div>
              </div>
            </div>
          {% endfor %}
          {% set global = {
            total: global.total + universeTotal.total,
            reading: global.reading + universeTotal.reading
          } %}
        </div>
        <div class="ui indicating progress" data-value="{{ universeTotal.reading }}" data-total="{{ universeTotal.total }}">
          <div class="bar"></div>
          <div class="label"></div>
        </div>
        <div class="ui divider"></div>
      {% endfor %}
      <div class="ui centered header">
        <img src='{{ asset('/assets/favicon/favicon-32x32.png') }}' alt="" class="ui mini image">
        {{ 'global_reading'|trans }}
      </div>
      <div class="ui centered cards">
        <div class="ui card" id="global-progress">
          {% if app_settings.website_banner is defined %}
            <div class="image"></div>
          {% endif %}
          <div class="content">
            <span class="header">{{ app_name }}</span>
          </div>
          <div class="extra content">
            <a class="ui pointing basic label">{{ 'ratio'|trans({value: global.reading, total: global.total}) }}</a>
            <a class="ui pointing basic label">{{ 'percent'|trans({value: percent(global.reading, global.total)|number_format(2, 'decimal_separator'|trans)}) }}</a>
            <a class="ui pointing basic label">{{ 'progress_left'|trans({value: global.total - global.reading}) }}</a>
          </div>
          <div class="ui indicating bottom attached progress" data-value="{{ global.reading }}" data-total="{{ global.total }}">
            <div class="bar"></div>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('/assets/css/reading-progress.css') }}">
{% endblock %}

{% block javascripts %}
  <script>
    $('.ui.indicating.progress').progress({
      limitValues: false,
      text: {
        active: '{value}/{total}'
      }
    });
  </script>
{% endblock %}
